.subtitle {
    padding: 0.5rem 1rem 0.2rem 1.4rem;
    font-size: 1.4em;
    color: white;
    background-color: #0065ae;
    height: 2.8rem;
}

.subtitle .icon {
    margin: -0.2rem 0.5rem 0.1rem -0.5rem;
}

.center-grid {
    display: grid;
    place-items: center; 
}

.close-privacy-policy {
    background-color: white;
    border: 2px solid black;
    border-radius: 10rem;
    color: black;
    padding: 0;
    margin-right: 0;
    margin-left: auto;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    display: block;
}

.image-stack {
    position: relative;
    width: 100%;
    aspect-ratio: 1024 / 500;
    max-width: 1024px;
    margin: 0 auto;    
}

.image-stack img {
    position: absolute;
    width: 100%;
}

.blue-box {
    background-color: #0065ae;
    padding: 0.5rem 0rem 0rem 0.5rem;
    margin: 0 auto 1rem auto;
    width: fit-content;
    color: white;
    font-weight: bold;
}

.download-link {
    margin: 2rem auto;
    width: fit-content;
}

.download-link a {
    padding: 1rem 2rem;
    font-weight: bold;
    background-color: #0065ae;
    border-radius: 3rem;
}

.unlock-list {
    display: grid;
    grid-template-columns: 4rem auto;
    row-gap: 1rem;
    column-gap: 0.5rem;
    margin-left: 30px;
}


.unlock-list li div {
    flex: 2rem 1;
}

.unlock-list img {
    background-color: #0065ae;
    margin-top: 0.25rem;
    padding: 0.5rem;
    display: inline-block;
    width: 3rem;
    vertical-align: top;
}

.unlock div {
    margin-left: 0.5rem;
    display: inline-block;
}

img, video {
    margin: 0 auto;
    display: block;
}

.icon {
    width: 2rem;
    margin: 0.2rem;
    margin-top: -0.2rem;
    padding: 0.1rem;
    display: inline;
}

ul li {
    list-style: none;
}

ul.regular li {
    list-style: square;
}

.image-list li::first-letter {
    font-weight: bold;
    font-size: 1.2em;
}
